:host {
	box-sizing: border-box;
}
:host(:before), :host(:after) {
	box-sizing: inherit;
}
:host {
	padding: 0;
	margin: 0;
	float:left;
	width:100%;
	display: none;
	width: 100%;
}

:host(.open) {
	display:block;
	position:absolute;
}
